[Unit]
Description=Trace Labs VM Update Check
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/tl-check-updates
