[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Obsidian
Comment=Knowledge base / note-taking app
Exec=env APPIMAGE_EXTRACT_AND_RUN=1 /home/osint/Obsidian.AppImage --no-sandbox
Icon=obsidian
Terminal=false
Categories=Office;Utility;
StartupNotify=false
