name: Manual workflow

on:
  workflow_dispatch:
    inputs:
      name:
        description: "Initiate OVA Build"
        default: "World"
        required: true

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Build OVA (via build.sh)
        shell: bash
        run: |
          set -euo pipefail
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends debos p7zip qemu-utils zerofree
          sudo rm -rf /var/lib/apt/lists/*

          chmod +x scripts/tl/*.sh
          chmod +x ./build.sh

          sudo ./build.sh

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: OVA
          path: images/*.7z
