name: Shellcheck
permissions:
  contents: read

on:
    pull_request:
        paths:
            - "**/*.sh"
            - "scripts/**"

jobs:
    shellcheck:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Run Shellcheck
              uses: ludeeus/action-shellcheck@master
